*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background: linear-gradient(rgb(3, 148, 117),rgb(4, 37, 20));
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*                        -------------------START BUTTON------------------------- */
#stBtn{
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: rgba(2, 58, 161, 0.76);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(0, 174, 255), rgb(91, 173, 80)) ;
    cursor: pointer;
    transition: all 0.3s ease;
}
#stBtn:hover{
    background: rgb(1, 204, 136);
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(255, 183, 0);
    transform: translateY(-0.4rem);
    transition: transform 800ms;
}
.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
}
@media only screen and (max-width:360px){
    #stBtn{
        font-size: 13px;
    }
}
@media only screen and (max-width:240px){
    #stBtn{
        font-size: 10px;
        padding: 15px;
    }
}
/*                        -----------------------START BUTTON------------------------- */


/*                        ------------------NEXT PAGE (INSTRUCTION)---------------------- */



/*                        ----------------------INFO BOX WHOLE------------------------ */
.info_box{
    width: 60%;
    padding: 30px 0;
    border-radius: 30px;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(211, 185, 185);
    color: white;
    font-family: monospace;
    word-wrap: break-word;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 7s !important;
}
.info_box:hover{
    box-shadow: 0 0.5rem 1.5rem 0 rgb(255, 183, 0);
    cursor: pointer;
}
/*                        ----------------------INFO BOX WHOLE------------------------ */



/*                          -------------------INFO HEADING----------------- */
.info_box .info-title{
    max-width: 100%;
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-radius: 5px 5px 0 0;
    font-size: 50px;
    font-weight: 540;
    word-wrap: break-word;
    word-break: break-all;
}
/*                          -------------------INFO HEADING----------------- */


/*                           -------------------INFO LIST-------------------- */
.info_box .info-list{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}
.info_box .info-list p{
    width: 100%;
}
.info_box .info-list p span{
    font-weight: 600;
    color: rgb(255, 183, 0);
    text-decoration: underline;
}
/*                           -------------------INFO LIST-------------------- */


/*                           -------------------BUTTONS--------------------- */

.info_box .buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid rgb(0, 0, 0);
}
.info_box .buttons button{
    width: 100px;
    margin: 0 10px;
    padding: 1.5px;
    font-size: 19px;
    color: white;
    font-family: monospace;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #007bff;
    background: #1a1818;
    background: linear-gradient(rgb(0, 174, 255), rgb(91, 173, 80)) ;
    transition: all 0.3s ease;
}
.info_box .buttons button:hover{
    background: rgb(1, 204, 136);
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(255, 183, 0);
    transform: translateY(-0.4rem);
    transition: transform 800ms;
}
.animate__animated.animate__zoomIn {
    --animate-duration: 1.5s !important;
}

/*                           -------------------BUTTONS--------------------- */

/*                           -------------------MEDIAQUERY FOR INSTRUCTION PAGE------------------ */


/*                                  ----------------------------- */
@media only screen and (max-width:1030px){
    .info_box .info-title{
        font-size: 40px;
    }
}
@media only screen and (max-width:840px){
    .info_box .info-title{
        font-size: 30px;
    }
}
@media only screen and (max-width:645px){
    .info_box .info-title{
        font-size: 25px;
    }
}
@media only screen and (max-width:545px){
    .info_box .info-title{
        font-size: 20px;
    }
}
@media only screen and (max-width:420px){
    .info_box .info-title{
        font-size: 15px;
    }
}
@media only screen and (max-width:324px){
    .info_box .info-title{
        font-size: 11px;
    }
}
/*                                  ----------------------------- */


/*                                  ----------------------------- */

@media only screen and (max-width:950px){
    .info_box .info-list{
        font-size: 27px;
    }
}
@media only screen and (max-width:853px){
    .info_box .info-list{
        font-size: 25px;
    }
}
@media only screen and (max-width:790px){
    .info_box .info-list{
        font-size: 20px;
        line-height: 40px;
    }
}@media only screen and (max-width:632px){
    .info_box .info-list{
        font-size: 17px;
        line-height: 30px;
    }
}
@media only screen and (max-width:537px){
    .info_box .info-list{
        font-size: 15px;
    }
}
@media only screen and (max-width:474px){
    .info_box .info-list{
        font-size: 13px;
        line-height: 25px;
    }
}
/*                                  ----------------------------- */


@media only screen and (max-width:529px){
    .info_box .buttons button{
        width: 100%;
        padding: 2px;
        font-size: 11px;
        font-weight: 800;
        /* font-size: 12px; */
    }
}
@media only screen and (max-width:358px){
    .info_box .buttons button{
        font-size: 9px;
        margin-top: 5px;
    }
    .info_box .buttons{
        flex-wrap: wrap;
    }
}


/*                          ---------------------QUIZ------------------------- */


.animate__animated.animate__zoomIn {
    --animate-duration: 1.3s !important;
}


/*                          ---------------------QUIZ------------------------- */
.container1{
    border-radius: 30px;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(211, 185, 185);
    width: 60%;
    padding: 1rem;
}
.container1:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(255, 185, 0);
}
.choice-container{
    opacity: 1;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    border: 0.2rem solid rgb(255, 183, 0);
    border-radius: 10px;
    color: rgb(255, 183, 0);
    word-wrap: break-word;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(255, 183, 0);
    transform: translateY(-0.1rem);
    transition: transform 500ms;
    color: rgb(255, 183, 0);
}
.choice-prefix{
    padding: .5rem 2.5rem;
}
.choice-text{
    padding: 0.3rem;
}

.correct{
    background-color: #28a745;
}
.incorrect{
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: rgb(255, 183, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-radius: 5px 5px 0 0;
    padding-bottom: 0.8rem;
}
.hud-prefix{
    text-align: center;
    font-size: 1.5rem;
}
.hud-main-text{
    text-align: center;
}

#progressbar{
    width: 100%;
    height: 2rem;
    border: 0.3rem solid white;
    border-radius: 10px;
    margin-top: 2rem;
}
#progressbarfull{
    height: 1.5rem;
    background-color: silver;
    border-radius: 5px;
}

#question{
    margin-bottom: 1rem;
    margin-left: 30px;
    color: rgb(255, 183, 0);
}



/*                           -------------------MEDIAQUERY FOR QUIZ PAGE------------------ */


/*                  -----------------------MEDIAQUERY FOR QUIZ PAGE(QUIZ OPTIONS)-------------------- */
@media only screen and (max-width:832px){
    .choice-container{
        font-size: 1.9rem;
    }
    .choice-prefix{
        padding: .5rem 1.6rem;
    }
}
@media only screen and (max-width:748px){
    .choice-container{
        font-size: 1.5rem;
    }
    .choice-prefix{
        padding: .4rem 1.4rem;
    }
}
@media only screen and (max-width:616px){
    .choice-container{
        font-size: 1.2rem;
    }
    .choice-prefix{
        padding: .4rem 1rem;
    }
}
@media only screen and (max-width:504px){
    .choice-container{
        font-size: 1rem;
    }
    .choice-prefix{
        padding: .4rem 0.8rem;
    }
}
@media only screen and (max-width:430px){
    .choice-container{
        font-size: 0.8rem;
    }
    .choice-prefix{
        padding: .4rem 0.6rem;
    }
}
/*                  -----------------------MEDIAQUERY FOR QUIZ PAGE(QUIZ OPTIONS)-------------------- */


/*                  -----------------------MEDIAQUERY FOR QUIZ PAGE(QUIZ QUESTIONS)-------------------- */
@media only screen and (max-width:717px){
    #question{
        font-size: 1.3rem;
        margin-left: 10px;
    }
}
@media only screen and (max-width:602px){
    #question{
        font-size: 1.1rem;
        margin-left: 8px;
    }
}
@media only screen and (max-width:517px){
    #question{
        font-size: 1rem;
        margin-left: 6px;
    }
}
@media only screen and (max-width:473px){
    #question{
        font-size: 0.85rem;
    }
}
/*                  -----------------------MEDIAQUERY FOR QUIZ PAGE(QUIZ QUESTIONS)-------------------- */


/*                  --------------------------RESULT PAGE----------------------- */

.animate__animated.animate__slideInLeft {
    --animate-duration: 1.8s !important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 10px;
    font-family: monospace;
    border-radius: 30px;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(211, 185, 185);
}
.container:hover{
    box-shadow: 0 0.5rem 1.5rem 0 rgb(255, 183, 0);
    cursor: pointer;
}
#end{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#end > img{
    margin-bottom: 8px;
}
.endBtn{
    flex-direction: row;
    text-align: center;
    width: 130px;
    padding: 2px;
    margin-top: 15px;
    border: 1px solid #007bff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    font-family: monospace;
    color: rgba(2, 58, 161, 0.76);
    background: linear-gradient(rgb(0, 174, 255), rgb(91, 173, 80)) ;
    cursor: pointer;
    transition: all 2s ease
}
.endBtn:hover{
    background: rgb(1, 204, 136);
    box-shadow: 0 0.5rem 1.5rem 0 #E8A939;
    cursor: pointer;
    transform: translateY(-0.3rem);
    transition: transform 10000ms;
}


/*                  -----------------------MEDIAQUERY FOR RESULT PAGE(QUIZ QUESTIONS)-------------------- */
@media only screen and (max-width:1005px){
    .resultTxt{
        font-size: 130% !important;
    }
    #end > img{
        width: 150px !important;
        height: 90px !important;
    }
}
@media only screen and (max-width:877px){
    .resultTxt{
        font-size: 110% !important;
    }
    #end > img{
        width: 130px !important;
        height: 80px !important;
    }
}
@media only screen and (max-width:748px){
    .resultTxt{
        font-size: 85% !important;
    }
    #end > img{
        width: 90px !important;
        height: 60px !important;
    }
}
@media only screen and (max-width:587px){
    .resultTxt{
        font-size: 80% !important;
    }
    #end > img{
        width: 80px !important;
        height: 50px !important;
    }
}
@media only screen and (max-width:555px){
    .resultTxt{
        font-size: 75% !important;
    }
}
@media only screen and (max-width:555px){
    .resultTxt{
        font-size: 68% !important;
    }
}
/*                  -----------------------MEDIAQUERY FOR RESULT PAGE(QUIZ QUESTIONS)-------------------- */
